{% extends 'base.html' %}
{% block content %}

<div class="container-fluid index">
    <div>
        <h2>CURRENTLY GOING ON POLLS</h2><br>
        <p>Polls are one of the best ways to engage an in-person audience at a meeting, conference, or event. They are incredibly versatile and work just as well for remote and hybrid calls, presentations, and classes. Voters can easily submit their responses via their smartphone and responses can appear in real-time (by default), or at once when the presenter chooses.  </p>

        A poll is a fun way to ask a question for which followers have to choose from set replies, with a minimum of two responses for people to select their answer from. Followers simply have to tap their answer and then they’ll see how the voting has progressed so far.

        Polls are great because they allow people to respond with minimal effort, making engagement more likely. It takes a split second to answer a poll, because the choices are already there - a bit like a multiple choice exam question versus an essay question.

        This makes polls attractive when users are quickly scrolling down a news feed in an idle moment; by comparison, it takes substantially longer to compose a reply by typing it from scratch. Polls also stand out visually in news feeds, particularly on Twitter, making it more likely they’ll be noticed and responded to.
    </div>
        {% for q in ques %}
            <div class="content">
                <div><h3>{{q.ques_head}}</h3></div>
                <div>{{q.description}}</div>
                <div><small>Published Date: {{q.pub_date}}</small></div>
                
            <br><a href='vote/{{q.id}}'><input type='submit' value='PARTICIPATE' class="btn btn-primary"></a>
                
            </div><br><br><br>
        {% endfor %}   
</div>
{% endblock %}